<div id="<%= dom_id story %>">
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <p>
    <strong>Column:</strong>
    <%= story.column_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= story.position %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= story.description %>
  </p>

</div>
